/* Noto Serif Khojki Google Font link */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Khojki:wght@400;700&display=swap');

/* BASIC STYLES */
body{
    font-family: 'Noto Serif Khojki', serif;
    font-size: 15px;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    background-color: #A884CF;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

.btn-1{
    height: 38px;
    background-color: #EBA678;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

.light, .dark{
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.light{
    background-color: #0E3557;
    color: #bcdbf5;
}

.dark{
    color: #0E3557;
    background-color: #bcdbf5;
}

/* HEADER */
header{
    background-color: #0E3557;
    color: #bcdbf5;
    /* Setting min-height for the header section can expland  */
    min-height: 70px;
    border-bottom: 3px solid #EBA678;
    padding: 5px 0;
}

header .container{
    display: flex;
    justify-content: space-between;
}

header ul{
    height: 100%;
    display: flex;
    align-items: center;
}

header li{
    /* Removes the bullet point or number on a list item */
    list-style: none;
    padding: 0 20px;
}

header a{
    color: #bcdbf5;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

#highlight, #current a{
    color: #EBA678;
    font-weight: bold;
}

a:hover{
    color: #EBA678;
    font-weight: bold;
}

#showcase{
    min-height: 400px;
    background-image: url(laptop.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color:#bcdbf5;
}

#showcase h1{
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 55px;
}

#showcase p{
    font-size: 20px;
}

/* NEWSLETTER */
#newsletter{
    background-color: #0E3557;
    padding: 15px;
    color: #BBBBD8;
} 
#newsletter .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#newsletter input{
    padding: 4px;
    height: 25px;
    width: 250px;
}


/* BOXES */
#boxes{
    margin-top: 20px;
}

#boxes .container{
    display: flex;
    justify-content: space-between;
}

.box{
    width: 30%;
    text-align: center;
    padding: 10px;
}

i{
    font-size: 225px;
}

.fa-html5{
    color: #EBA678;
}

.fa-css3-alt{
    color: #bcdbf5;
}

.fa-js{
    color: #E5989B;
}


/* SECTION */
#about{
    background-color: #bcdbf5;
    padding: 20px;
}

#about .container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 50px;
}

#about .main-col{
    color: #0E3557;
}

#about .sidebar{
    margin-top: 10px;
}



/* SERVICES */
#services .container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 50px;
}

#services li{
    border: 1px solid #E5989B;
    padding: 20px;
    margin-bottom: 5px;
    background-color: #d4b5f5;
}

#services .sidebar{
    margin-top: 10px;
}

#services input, #services textarea{
    padding: 5px;
    width: 90%;
}



/* FOOTER */
footer{
    background-color: #0E3557;
    color: #bcdbf5;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
    header .container,
    #newsletter .container,
    #boxes .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

    }

    #showcase .container{
        padding-bottom: 50px;
    }

    .box{
        width: 80%;
    }

    #service .container, #about .container{
        grid-template-columns: 1fr;
    }
}